* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
}

body {
    background-color: #EEEEEE;
}

nav h1 {
    font-size: 40px;
}

header nav {
    padding: 5px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #686D76;
    z-index: 1;

}
header nav form{
    display: flex;
    justify-content: center;
}
.searchbox{
    flex-grow: 1;
    margin-right: 10px;
    
}
.searchbox,.btn{
    border: none;
    font-size:18px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.btn{
    transition:background-color 0.5s ease-out;
    margin-right: 20px;
}
.btn:hover,.recipe button:hover{
    background-color: #a3c4f0;
}

.Recipe-container {
    text-align: center;
    font-size: 35px;
    margin-top: 4px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    margin: 10px auto;
    width: 85%;
    padding: 10px;
    grid-gap: 10px;
    place-items: center;
}
.recipe{
    background-color:#a3c4f0;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1) rgba(34, 34, 34, 0.5);
    max-width: 350px;
}
.recipe img{
    height:300px ;
}

.recipe button{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}

/*responsive code*/
@media screen and (max-width:700px) {
    header nav {
        flex-direction: column;
    }
    header nav form{
        width: 80%;
    }
    
}